body {
    font-family: 'Arial', sans-serif;
    background-color: #ffe6e6;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #ff9999;
    color: white;
    padding: 0.5rem;
    text-align: center;
    position: relative;
}

#menuButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background: #ff6666;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s, transform 0.3s;
}

#menuButton:hover {
    background-color: #ff3333;
    transform: scale(1.1);
}

/* Menú */
nav {
    display: none;
    position: fixed;
    top: 3rem;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 153, 153, 0.9);
    padding: 2rem;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 1rem 0;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s, text-shadow 0.3s;
}

nav ul li a:hover {
    color: #ff3333;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Contenido principal */
main {
    padding: 2rem;
}

#questionsContainer {
    margin-top: 2rem;
}

.question {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
}

.question-buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-buttons button {
    background-color: #ff3333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

.question-buttons button:hover {
    background-color: #ff3333;
}

#responder {
    display: flex;
    align-items: center;
}

#responder::before {
    margin-right: 5px;
}

/* Estilos adicionales del archivo CSS proporcionado */
.styled-container {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forms-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form {
    margin-bottom: 20px;
}

input, textarea {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
